@{
    ViewBag.Title = "Edit Book";
}

@Html.Partial("_Header");

<div class="testbox">
    <h1>Add New Book</h1>
    <hr style="margin-bottom:10px;">

    <form name="editbook" action="/Home/UpdateBook" method="POST" onsubmit="return validate()">
        <input type="number" name="book_ID" id="book_ID" value="@ViewBag.Id" hidden />

        <label for="title"><p>Book Title: </p></label><br>
        <textarea maxlength="100" name="title" id="title" placeholder="Book Title" style="width:600px; height:50px">@ViewBag.bTitle</textarea>
        <div class="nowarning" id="titleW"></div>

        <label for="author"><p>Book Author: </p></label><br>
        <textarea maxlength="40" name="author" id="author" placeholder="Author" style="width:600px; height:50px">@ViewBag.Author</textarea>
        <div class="nowarning" id="authorW"></div>

        <label for="desc"><p>Book Description: </p></label><br>
        <textarea maxlength="500" name="desc" id="desc" placeholder="Write a brief description about the book..." style="width:600px; height:300px">@ViewBag.Description</textarea>
        <div class="nowarning" id="descW"></div>

        <label for="category"><p>Category: </p></label><br>
        <select name="category" id="category" required>
            @foreach (string cat in ViewBag.data)
            {
                if (@cat.Equals(@ViewBag.Category))
                {
                    <option value="@cat" selected>@cat</option>
                }
                else
                {
                    <option value="@cat">@cat</option>
                } 
            }
            <option value="Other"><i>Other</i></option>
        </select>

        <label for="otherC" style="text-align:right;"><p>Other:&nbsp;</p></label>
        <input type="text" maxlength="30" name="otherC" id="otherC" placeholder="Category" style="width:100px; height:30px" />
        <div class="nowarning" id="otherW"></div>

        <button type="submit" class="button">Submit</button>
    </form>
</div>